{% extends "base.html" %}
{% block content %}


<h2>{{ page_title }}</h2>
<p>
    The Soil Association is the only UK charity that works across the spectrum of human health, the environment and
    animal welfare. Its organic certification is widely regarded as the gold standard for all organic products and is
    very difficult to achieve. Every product in the Thistle Fields household and laundry range is certified organic with
    The Soil Association. This means that you can be assured that Thistle Fields products are made from organically
    farmed ingredients which are not genetically modified (GM) using no herbicides or synthetic fertilisers.
    <br>
    All Thistle Fields products are free from harsh chemicals, nano particles, parabens, synthetic dyes and artificial
    fragrances.
</p>

{% for products in company %}

<div class="row featurette">
    {% if loop.index % 2 != 0 %}
        <div class="col-md-7">
            <h3>{{ loop.index }}. {{ products.product }}</h3>
            <p>{{ products.description }}</p>
        </div>
        <div class="col-md-5">
            <img src="{{ products.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
    {% else %}
        <div class="col-md-5">
            <img src="{{ products.image_source }}" alt="" class="featurette-image image-responsive">
        </div>
        <div class="col-md-7">
            <h3> {{ loop.index }}. {{ products.product }}</h3>
            <p> {{ products.description }} </p>
        </div>
    {% endif %}
</div>
        {% if loop.index != 4 %}
            <hr class="featurette-divider">
        {% endif %}


    {% endfor %}
{% endblock %}